### üß† An√°lisis exploratorio con pandas

**Contexto**  
El objetivo es familiarizarse con la estructura de un DataFrame y aplicar m√©todos b√°sicos de exploraci√≥n y resumen de datos para obtener una primera comprensi√≥n de su contenido.

**Consigna**  
Carga un archivo CSV utilizando Pandas y explora su contenido mediante los m√©todos `head()`, `info()` y `describe()`. Luego, extrae las estad√≠sticas clave de las columnas num√©ricas y verifica si existen valores nulos.

**Paso a paso**  

1. Importa la librer√≠a **Pandas** como `pd`.  
2. Lee el archivo csv con `pd.read_csv()` y as√≠gnalo a una variable llamada `df`.  
3. Utiliza los siguientes m√©todos para explorar los datos:
   - `df.head()` para visualizar los primeros registros.  
   - `df.info()` para revisar la estructura y los tipos de datos.  
   - `df.describe()` para ver estad√≠sticas b√°sicas de las columnas num√©ricas.  
4. Aplica `df.isnull().sum()` para detectar valores nulos en el conjunto de datos.  
5. Usa `df.mean()`, `df.median()` y `df.std()` para obtener medidas adicionales como la media, la mediana y la desviaci√≥n est√°ndar.  
6. Finalmente, comparte una breve interpretaci√≥n de lo que observaste en el an√°lisis.

In [2]:
import pandas as pd
import seaborn as sns

# Cargar dataset Titanic desde seaborn
df = sns.load_dataset('titanic')

# Mostrar primeros registros
print("Primeros registros:")
print(df.head())

# Mostrar info general del DataFrame
print("\nInformaci√≥n general:")
print(df.info())

# Estad√≠sticas descriptivas
print("\nEstad√≠sticas descriptivas:")
print(df.describe())

# Valores nulos por columna
print("\nValores nulos por columna:")
print(df.isnull().sum())

# Medidas estad√≠sticas adicionales
print("\nMedia de columnas num√©ricas:")
print(df.mean(numeric_only=True))

print("\nMediana de columnas num√©ricas:")
print(df.median(numeric_only=True))

print("\nDesviaci√≥n est√°ndar de columnas num√©ricas:")
print(df.std(numeric_only=True))

# Breve interpretaci√≥n
print("""
Interpretaci√≥n breve:
- El dataset contiene datos de pasajeros con caracter√≠sticas como edad, tarifa y clase.
- Se identificaron valores nulos principalmente en 'age', 'deck' y 'embark_town'.
- Las estad√≠sticas muestran la distribuci√≥n y dispersi√≥n de las variables num√©ricas.
- Esta exploraci√≥n inicial ayuda a detectar datos faltantes y comprender la estructura general del dataset.
""")

Primeros registros:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

Estad√≠sticas descriptivas:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Valores nulos por columna:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Media de columnas num√©ricas:
survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

Mediana de columnas num√©ricas:
survived       0.0000
pclass         3.0000
age           28.0000
sibsp          0.0000
parch          0.0000
fare          14.4542
adult_male     1.0000
alone          1.0000
dtype: float64

Desviaci√≥n est√°ndar de columnas num√©ricas:
survived       0.486592
pclass         0.836071
age           14.526497
sibsp          1.102743
parch          0.806057
fare          49.693429
adult_male     0.489615
alone          0.489615
dtype: float64

Interpretaci√≥n breve:
- El dataset contiene datos de pasajeros con caracter√≠sticas como edad, tarifa y clase.
- Se identificaron valores nulos principalmente en 'age', 'deck' y 'embark_town'.
- Las estad√≠sticas muestran la distribuci√≥n y dispersi√≥n de las variables num√©ricas.
- Esta exploraci√≥n inicial ayuda a detectar datos faltantes y comprender la estructura general del dataset.

### Pr√°ctica con Python

**Paso a paso**

1. Abre tu entorno de trabajo en Colab.

2. Escribe un programa que:

   - Solicite al usuario su nombre y edad.

   - Use una estructura condicional (`if`) para verificar si es mayor o menor de edad.

   - Imprima un mensaje de saludo que incluya el nombre y la condici√≥n (mayor o menor).

3. Pru√©balo con diferentes edades para verificar que funciona correctamente.

4. Agrega una funci√≥n llamada `es_mayor()` que reciba la edad y retorne `True` o `False`.

In [3]:
def es_mayor(edad):
    """Funci√≥n que retorna True si la edad es mayor o igual a 18, False en caso contrario."""
    return edad >= 18

# Solicitar datos al usuario
nombre = input("Ingresa tu nombre: ")
edad = int(input("Ingresa tu edad: "))

# Verificar si es mayor o menor usando la funci√≥n es_mayor
if es_mayor(edad):
    condicion = "mayor de edad"
else:
    condicion = "menor de edad"

# Imprimir mensaje de saludo
print(f"Hola, {nombre}. Eres {condicion}.")

Ingresa tu nombre: Jonathan
Ingresa tu edad: 31
Hola, Jonathan. Eres mayor de edad.